.attention {
    color: red !important;
}

#dropdown {
    background-color: transparent;
    color: gray;
    border-color: gray;
}

.date-picker {
    border: 1px solid #ced4da !important;
    height: 38px;
    border-radius: .25rem;
    padding: 6px 12px 6px 12px;
    color: #495057;
}